html{
    position: relative;
    min-height: 100%;
}
.logo{
    width:50px;
    height:50px;
}
.tall-body{
    height:85vh;
}
.tall{
    height:80vh;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
